  <div class="container">
    <header class="text-center">
        <img class="img-fluid"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/1280px-Rick_and_Morty.svg.png">
    </header>
    <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="search()">Buscar Personajes</button>
    </div>
    <div *ngIf="processing" class="text-center" >
        <br /> <br />
        <div class="spinner-grow text-primary" style="width: 5rem; height: 5rem;" role="status">
            <span class="sr-only">Loading...</span>
          </div>
      </div>
<div *ngIf="!processing">
    <h4>Cantidad de personajes encontrados: {{generalData.info.count}}</h4>
    <div *ngFor="let p of generalData.results; index as i"  id="results">
      <h5>
        <img class="rounded float-left" height="120" src="{{generalData.results[i].image}}">

        <hr><strong>{{generalData.results[i].name}}</strong><br />
        Status: {{generalData.results[i].status}}<br />
        Gender: {{generalData.results[i].gender}}<br />
        Location: {{generalData.results[i].location.name}}<br />

      </h5>
    </div>
</div>
    <div style="text-align: right;" id="footerPage">
        <button *ngIf="generalData.info.prev" id="buttonBack" (click)="back()" class="btn btn-warning"><< </button>
        <button *ngIf="generalData.info.next" id="buttonNext" (click)="next()" class="btn btn-success"> >> </button>
    </div>
</div>
